<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Firebot Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
</head>
<body>
    <div class="container-fluid d-flex flex-column p-0" style="height: 100vh">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Firebot</a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Vehicles <span class="sr-only"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container row flex-grow-1 mw-100">
            <div class="col-2 list-group p-1 bg-light">
                <button class="list-group-item list-group-item-action active">Vehicle 1</button>
            </div>
            <div class="col h-100 d-flex flex-column align-items-center p-2" style="gap: 10px">
                <div class="btn-group">
                    <button class="btn btn-secondary" id="camera-button" onclick="toggleMap()">Camera</button>
                    <button class="btn btn-secondary active" id="map-button" onclick="toggleMap()">Map</button>
                </div>
                <div class="flex-grow-1 w-100" id="map"></div>
                <img class="w-100 d-none" id="camera" src="/camera" />
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <script>
        let alerts = {{ alerts | tojson }}
        let map = L.map("map").setView([43.6607255, -79.3964399], 19);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 20,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map)
        alerts.forEach(alert => {
            let marker = L.marker(alert.position).addTo(map)
            marker.on("click", () => {
                window.location.href = `/alert/${alert.id}`
            })
        })

        let toggleMap = () => {
            document.querySelector("#camera-button").classList.toggle("active")
            document.querySelector("#map-button").classList.toggle("active")
            document.querySelector("#camera").classList.toggle("d-none")
            document.querySelector("#map").classList.toggle("d-none")
        }
    </script>
</body>
</html>
